
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    

}

html {
    scroll-behavior: smooth;
}
body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 100%;
}
:root{
  --amareloclaro: #fff6c5;
  --amarelo: rgb(225, 159, 2);
  --azul: #1511ff;
  --azulbb: #1e6c1bba;
  --roxo: #c3bcee;
  --bum: linear-gradient(rgb(255, 191, 0), rgb(255, 191, 0)  );

}
.logotipo{
    width: 10%;
    margin-left: 1rem ;
}

.background-verde{
    background: var(--azulbb);
}
.auau {
    width: 70%;
}
.aiai {
    width: 100%;
    margin-bottom: 10px;
}



.container{
    max-width: 98rem;
    margin: 0 auto;
    width: 100%;   
}
.container2{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}

section,footer{
    padding: 0;
}
.bum{
    padding: 15px 25px;
    color: black;
    border: none;
    cursor: pointer;
    background-image: var(--bum);  
    border-radius: 0.5rem;
    padding: 1.0rem 1.3rem;
    margin-right: 1rem;
}
.bum:hover{
      background-color: #733620;

}
.bum2{
    background-image: var(--bum);  
    padding: 2% 5%;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1.0rem 3.3rem;
}
.logo a{
    font-weight: bold;
    color: black;
    margin-left: 0.8rem;
}


/*img*/

.img2 img{
    width: 50%;
    height: 30%;
}
 /* classs do site*/
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color:  whitesmoke;
 }
 .logo a{
    font-weight: bold;
    color: black;

}
.ul{
    display: flex;
    align-items: center;
    
}
.ul li{
    margin: 0 35px;
    font-size: 20px;
}
.ul li a{
  color:  white;
}
/*main*/
main .container{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 3rem;
     flex-wrap: wrap;
     max-width: 100%;

}

.main-text1{
     width: 50%;
     color: black
}
.main-text1 h1 h2{
    font-size: 50px;
    color: #ccc;
}
.main-text1 p{
    color: #000000;
    
}
.main-text1 {
    margin-top: 5%;
    margin-left: 3%;
}
.main-img img{
    max-width: 100%;
    width: 700px;
    height: auto;

}
/*fazer que fique um debaixo do outro na parte verde*/

main .container{
    flex-direction: column;
    flex-wrap: wrap;
}
main .container .main-img{
    width: 100%;
}
main .container .main-text{
    width: 100%;
    
}
main .container .main-text h1{
font-size: 4rem;
}

main .container .main-text div{
    justify-content: center;
}

/*reponsivo*/


    /*resultados*/
.resultados{
    background: var(--amarelo);

}
.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultado-text{
    color: rgb(7, 7, 0);
    font-size: 1.6rem;
    font-weight: 600;
   
}
.resultados .numeros{
   display: flex;
   align-items: 0;
   justify-content: center;
   color:rgb(0, 0, 0);
}
.resultados .numeros p{
text-align: center;
margin: 0 30px;
font-size: 0 20px;
}
 
.resultados .numeros p span{
    font-size: 30px;
    font-weight: 600;
}
.numeros{
margin-top: 2%;
margin-bottom: 2%;
}
main .container .main-text h1 {
   font-size: 3rem;
}

/*abs*/
.diferentes .sol {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    
}
.diferentes .abas{
    width: 20%;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    background-color:#fdefe7;
    transition: 0.3s;
    
}
.diferentes .abas img{
    width: 20%;
    height: max-content;
}
.diferentes .abas .titulo{
    margin: 10px 0;
    font-weight: 600;

    
}
.diferentes .abas:hover{
 box-shadow: 0px 10px 67px 8px #666262a2; 
}
.diferentes .abas p{
    margin: 10px;
    flex-direction: column;
}
.diferentes .abas .titulo2 .titulo{
    display: flex;
    align-items: center;
}
/*JANELA*/
.casa .container{
    display: flex;
    align-items: center;
}
.casa .casa-img{
    width: 50%;
}
.casa .casa-img img{
    width: 100%;
    border-radius: 10px;
}
.casa .casa-text{
    width: 70%;
    padding-left: 0;
}
.casa .casa-text h2{
    font-size: 2.5rem;
}
.casa .casa-text p{
    margin: 20px 0;
    color: var(#00000000);
}
.casa .casa-text p b{
 color: #000000;
 font-size:25px; 
} 
    /*casas*/

.imgs {
width: 15% ;
}

.lugares .azul{
   font-size: 24px;
   font-weight: 600;
   color: black; 
}
.lugares .h2{
   font-size: 2.5rem;
}
.cads{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.lugares .cads .cads-item{
width: 30%;
text-align: center;
padding: 30px 0;
border-radius: 20px;
box-shadow: 0px 35px 97px -15px rgba(0, 0, 0, 0.08);
}
.lugares .cads img{
  width: 80px;
}
.lugares .cads .local-casa{
    color:#99969600;
    margin: 5px 0;
}
.lugares .cads .Doe{
font-size: 30px;
font-weight: 500;
}
.lugares .cads .contato{
    margin-bottom: 20px;
}
.lugares .cads button{
    padding: 10px 20px ;
    color: white;
    background: #1e6c1bba;;
    border: none;
}
.empresas{
    background-color:  #1e6c1bba;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   height: 20%;
  
}
.empresas .box-empresas{
    text-align: center;
    padding: 7%;
    background-image: url('img/final.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border-bottom: 0.1rem solid black;
}
.empresas .box-empresas h2{
    font-size: 2.5rem;
}
.empresas .box-empresas p{
    margin: 13px 0;
}
.empresas .box-empresas input{
    width: 35%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #00000098;
    background-color: #faefda;
    
    
}
.empresas .box-empresas button{
    font-size: 15px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 14px;
    background-color: var(--amarelo);
    cursor: pointer;
    
}
/*rodape*/
footer{
    background-color: whitesmoke ;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    
}
.row-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h3{
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
} 
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
} 
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col p {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
} 
.redes-socias{
    margin: 2%;
}
.footer-col img{
    width: 40px;
    max-width: 100%;
}
.footer-col ul li a :hover{
    color: #000000;
    padding-left: 10px;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: black;
    background-color: rgb(235, 233, 233);
    border-radius: 14px;
    margin-bottom: 2px;
}
.footer-col .form-sub input::placeholder{
    color: black;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--amarelo);
    border-radius: 14px;
    margin-bottom: 6px;
}
/*responsivo*/
@media (max-width:600px){
    .footer-col{
        width: 100%;
    }
.container2{
   flex-direction: column;
}

    .resultados .container{
        flex-direction: column;}
    
    }@media (max-width:400px){
    .resultados .resultado-text .resultados .numeros{
        text-align: center;
    }}
    @media (max-width:500px){
        .resultados .numeros{
            flex-direction:column;}
    }
    @media (max-width:900px){
        .diferentes .sol{
            flex-direction: column;
            
        }
        .diferentes .abas{
            width: 90%;
            margin: 20px;
            display: block;
        
        }
    
        .diferentes .abas p{
                margin: 5%;}
    }
    @media (max-width:900px){
        .casa .container{
            align-items: flex-start;
        margin: 2%;
        flex-direction: column-reverse;
    
        }
        .casa .casa-text
        .casa .casa-img{
            width: 100%;
            text-align:right;
        }} 
        @media (max-width:600px){
            .lugares .cads{
             flex-direction: column;
            }
            .lugares .cads .cads-item{
             width: 100%;
             margin-top: 50px;   
            }
            .empresas .box-empresas input{
                width: 90%;
            }
            .empresas .box-empresas{
                padding: 50px;
            }
            .empresas .box-empresas button{
                width: 50%;
                margin-top: 20px;
            }
        }
    @media (max-width:800px) {
        .footer-cl{
            width: 50%;
            margin-bottom: 30px;
        }}